.container {
    min-height: 600px;
    width: 500px;
    border: 2px solid #333;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fcf9fc;
    box-shadow: -1px 3px 0 #888, -3px 5px 0 #333;
    font-family: 'RobotoMono';
    padding: 10px;
}

.formtitle {
    text-align: center;
    font-family: 'RobotoMonoSemi';
}

.formpoke {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.inputstyle {
    position: relative;
}

.inputform {
    padding: .5em .3em;
    border: none;
    border-bottom: 2px solid #333;
    width: 300px;
    outline: none;
    background-color: #fcf9fc;
}

.labelform {
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .2s, color .1s;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.inputform:focus {
    border: 1px solid #e32931;
    border-radius: 4px;
}

.inputform:focus + .labelform, .inputform:not(:placeholder-shown) + .labelform{
    transform: translateY(-6px) translateX(3px) scale(.7);
    transform-origin: top left;
    background-color: #fcf9fc;
    padding: 0 5px;
}

.statsform {
    width: 200px;
    padding: .5em .3em;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background-color: #fcf9fc;
}

.statsform:focus + .labelform, .statsform:not(:placeholder-shown) + .labelform{
    transform: translateY(-6px) translateX(3px)  scale(.7);
    transform-origin: top left;
    background-color: #fcf9fc;
    padding: 0 5px;
}

.statsform:focus {
    border: 1px solid #e32931;
    border-radius: 4px;
}


.types {
    width: 200px;
    border: 2px solid #333;
    border-radius: 3px;
    box-shadow: -1px 3px 0 #888, -3px 5px 0 #333;
    cursor: pointer;
}

.typescontainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 400px;
}

select::-ms-expand {
    display: none;
}

.titletype {
  margin: 3px 0;
}

.buttoncreate {
    cursor: pointer;
    margin-top: -10px;
    width: 150px;
    padding: 5px;
    border: 2px solid #333;
    box-shadow: -1px 3px 0 #888, -3px 5px 0 #333;
}

.message {
    color: #da392f;
    position: absolute;
    top: 28px;
    font-size: 11px;
}

.select {
    color: #da392f;
    font-size: 11px;
    margin: 0;
    height: 12px;
}

.url {
    position: relative;
    left: 12px;
}

.pokecreated {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.info {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #fef4eb;
    border: 2px solid #333;
    box-shadow: -1px 3px 0 #888, -3px 5px 0 #333;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'FireRed';
}

.response {
    font-size: 19px;
}

.accept {
    font-size: 20px;
    text-decoration: none;
    color: #e32931;
    padding: 5px;
    border: 2px #000 dashed;
    cursor: pointer;
}

.inactive {
    display: none;
}

.loaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #e32931;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

@media (min-width: 1450px) {
    .container {
        height: 700px;
        width: 550px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 15px;
        box-shadow: -2px 4px 0 #888, -4px 6px 0 #333;
    }
}

@media (max-width: 560px) {
    .container {
        width: 400px;
        padding: 10px 15px 10px 15px;
    }
    .statsform {
        width: 300px;
    }
    .typescontainer {
        margin: 15px 0 0 0;
        width: 300px;
        align-items: center;
    }
    .titletype {
        margin: 3px 5px;
        width: 122px;
    }
    .types {
        width: 150px;
    }
    .formtitle {
        margin-top: 10px;
    }
    .inputform {
        width: 300px;
    }
    .buttoncreate {
        margin-bottom: 10px;
    }
    .select {
        margin-left: 5px;
    }
}

@media (max-width: 560px) {
    .container {
        width: 300px;
        padding: 10px;
    }
    .statsform {
        width: 250px;
    }
    .typescontainer {
        width: 250px;
    }
    .titletype {
        font-size: 17px;
        width: 110px;
    }
    .inputform {
        width: 250px;
    }
    .select {
        margin-left: 5px;
    }
}